<h2 class="text-center">プロフィール</h2>
<br>
<% if @profile.present? %>
  <ul class="frame">
    <li class="list"><i class="fas fa-dollar-sign"></i> 現在吸っているタバコは一箱<%= @profile.box_price %>円</li>
    <li class="list"><i class="fas fa-smoking"></i> 普段の喫煙本数は1日に<%= @profile.cigar_amount %>本</li>
    <li class="list"><i class="fas fa-smoking-ban"></i> 今までに我慢したタバコ : <span class="font"><%= @total_saved_cigarettes %>本</span></li>
    <li class="list"><i class="fas fa-coins"></i> 今までに節約した金額 : <span class="font"><%= @total_saved_money %>円</span></li>
    <li class="list"><i class="far fa-heart"></i> 延びた寿命 : <span class="font"><%= @days %>日<%= @hours %>時間<%= @minites %>分</span></li>
  </ul>
  
  <br>
  <div class="text-center">
    <td>
      <%= link_to 'プロフィールを編集', edit_profile_path(@profile), class: " btn-edit" %>
    </td>
    <td>
      <%= link_to 'プロフィールを削除', @profile, method: :delete, data: { confirm: "削除しますか?" }, class: "btn-delete" %>
    </td>
  </div>
<% else %>
  <ul class="frame">
    <li class="list"><i class="fas fa-dollar-sign"></i> 現在吸っているタバコの値段を登録しましょう</li>
    <li class="list"><i class="fas fa-smoking"></i> 普段の喫煙本数を登録しましょう</li>
  </ul>
  <div class="text-center">
    <%= link_to 'プロフィールを登録', new_profile_path, class: "btn-create" %>
  </div>
<% end %>