<%= Gon::Base.render_data %>
<% if @graph.nil? %>
  <ul class="frame">
    <li class="list">喫煙本数の登録ボタンを押して今日の喫煙本数を登録しましょう</li>
  </ul>
<% end %>
<div class="row no-gutters">
  <div class="input-group col-sm-6 pr-sm-3 mt-3">
    <div class="input-group-prepend">
      <span class="input-group-text">開始</span>
    </div>
    <input type="text" id="start-calendar" class="form-control bg-white text-center">
  </div>
  <div class="input-group col-sm-6 pl-sm-3 mt-3">
    <div class="input-group-prepend">
      <span class="input-group-text">終了</span>
    </div>
    <input type="text" id="end-calendar" class="form-control bg-white text-center">
  </div>
</div>
<br>
<div class="row">
  <div class="col-6">
    <button type="button" class="btn btn-secondary btn-block" data-toggle="modal" data-target="#edit-modal">
      喫煙本数の修正
    </button>
  </div>
  <div class="col-6">
    <button type="button" class="btn btn-info btn-block" data-toggle="modal" data-target="#new-modal">
      喫煙本数の登録
    </button>
  </div>
</div>

<canvas id="chart-cigarette" class="mt-5"></canvas>

<%= render 'modal', action: 'new', title: '登録' %>
<%= render 'modal', action: 'edit', title: '修正' %>

<br>
<h3><%= @month.month %>月の記録</h3>
<ul class="monthly_record">
  <li class="monthly_list"><i class="fas fa-chevron-circle-right"></i> 今月の合計 <%= @cigarettes %>本</li>

  <% if @average.nan? %>
    <li class="monthly_list"><i class="fas fa-chevron-circle-right"></i> 1日平均 0本</li>
  <% else %>
    <li class="monthly_list"><i class="fas fa-chevron-circle-right"></i> 1日平均 <%= @average %>本</li>
  <% end %>

  <% if @profile.nil? %>
  
  <% else %>
    <li class="monthly_list"><i class="fas fa-chevron-circle-right"></i> 今月の我慢したタバコ <%= @monthly_saved_cigarettes %>本</li>
    <li class="monthly_list"><i class="fas fa-chevron-circle-right"></i> 今月の出費 <%= @actual_monthly_cost %>円</li>
    <li class="monthly_list"><i class="fas fa-chevron-circle-right"></i> 今月の節約した金額 <%= @monthly_saved_money %>円</li>
    <li class="monthly_list"><i class="fas fa-chevron-circle-right"></i> 今月の延びた寿命 <%= @prolonged_life %>時間</li>
  <% end %>
</ul>

<div class="text-center">
  <%= link_to "< 前の月",graphs_path(month:@month.prev_month), {class: "month-link"} %>
  <%= link_to "次の月 >",graphs_path(month:@month.next_month), {class: "month-link"} %>
</div>