<section class="explain2">
  <div class="container">
    <div class="content">
      <div class="content-item">
        <%= image_tag 'undraw_professor_8lrt.png', class: 'image' %>
      </div>    
      <div class="content-item">
        <div class="text">
          <h2 class="title">「なんとなく吸うか」はもうやめよう。</h2>
          <p>タバコマネージャーは喫煙本数をグラフ化し、節約額と延びた寿命を算出します。<br><br>
            さあ、タバコマネージャーと「無駄タバコ」を減らしてお財布とカラダに優しいあなたへ。
             </p>
        </div>
        <div class="text-center text-lg-start">
          <%= link_to "今すぐはじめる", new_user_registration_path, class: 'btn btn-outline-dark rounded-pill' %>
          <%= link_to "ゲストログイン", users_guest_sign_in_path, method: :post, class: 'btn btn-outline-danger rounded-pill' %>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="explain">
  <div class="container">
    <div class="content">
      <div class="content-item">
        <%= link_to image_tag('graph_image.png', class: 'image'), graphs_path %>
      </div>
      <div class="content-item">
        <div class="text">
          <h2 class="heading"><i class="far fa-chart-bar"></i>  グラフ機能</h2>
          <p>タバコマネージャーは毎日の喫煙本数をシンプルなグラフとして記録してくれます。喫煙量の増減を可視化し、喫煙習慣を見直しましょう。</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="explain2">
  <div class="container">
    <div class="content">
      <div class="content-item">
        <%= link_to image_tag('record_image.png', class: 'image'), graphs_path %>
      </div>
      <div class="content-item">
        <div class="text">
          <h2 class="heading"><i class="fas fa-calculator"></i> レコード機能</h2>
          <p>タバコマネージャーが計算した喫煙本数に関連するデータを月ごとに参照することができます。</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="explain">
  <div class="container">
    <div class="content">
      <div class="content-item">
        <%= link_to image_tag('profile_image.png', class: 'image'), profiles_path %>
      </div>    
      <div class="content-item">
        <div class="text">
          <h2 class="heading"><i class="far fa-user"></i> プロフィール機能</h2>
          <p>あなたが現在吸っているタバコの値段と、普段の喫煙量を登録しましょう。タバコマネージャーが、我慢したタバコや節約額、延びた寿命を算出してくれます。</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="explain2">
  <div class="container">
    <div class="content">
      <div class="content-item">
        <%= link_to image_tag('collection_image.png', class: 'image'), cigar_infos_path %>
      </div>    
      <div class="content-item">
        <div class="text">
          <h2 class="heading"><i class="fas fa-book"></i> コレクション機能</h2>
          <p>吸ったタバコのレビューを書きましょう。写真と値段を添えてあなただけのタバココレクションを完成させましょう。</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="reviewer">
  <div class="container">
    <div class="content">
      <h2 class="heading">ユーザーの声</h2>
      <div class="list">
        <div class="list-item">
          <%= image_tag 'undraw_professor_8lrt.png', class: 'image' %>
          <div class="text">テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</div>
        </div>
        <div class="list-item">
          <%= image_tag 'undraw_professor_8lrt.png', class: 'image' %>
          <div class="text">テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</div>
        </div>    
        <div class="list-item">
          <%= image_tag 'undraw_professor_8lrt.png', class: 'image' %>
          <div class="text">テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="foot">
  <section >
    <div class="row justify-content-center">
      <div class="col-lg-6 d-flex flex-column">
        <br>
        <h5 class="title">タバコマネージャーをはじめましょう</h5>
        <p class="text-center">登録は1分で完了します</p>
        <div>
          <div class="text-center text-lg-start">
            <%= link_to "今すぐはじめる", new_user_registration_path, class: 'btn btn-outline-dark rounded-pill' %>
            <%= link_to "ゲストログイン", users_guest_sign_in_path, method: :post, class: 'btn btn-outline-danger rounded-pill' %>
          </div>
          <br>
        </div>
      </div>
    </div>
  </section>
</div>